.featured-sites{
	.section-header{
		margin-bottom: 1rem;
	}
}
.featured-site{
	height: 280px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: $bg-gray;
	position: relative;
	@include media-breakpoint-up(md) {
		height: 500px;
	}
	.overlay{
		width: 100%;
		height: 100%;
		background: rgba($black, 0.4);
		.site-info{
			position: absolute;
			left: 0;
			bottom: 3rem;
			width: 100%;
			text-align: center;
			.site-title{
				@extend .h3;
				color: $white;
				margin-bottom: 1rem;
				@include media-breakpoint-down(md) {
					font-size: 1.5rem;
				}
			}
		}
	}
}