body{
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

.section-header{
	@extend .h2;
	text-align: center;
	position: relative;
	margin: 2rem 0;
	padding-bottom: 0.5rem;
	@include media-breakpoint-down(md) {
		font-size: 1.5rem;
	}
	&:after{	
		content: '';
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 400px;
		background: $secondary;
		@include media-breakpoint-down(md) {
			width: 90%;
		}
	}
}

.section{
	@extend .col-12;
	padding-bottom: 2rem;
	.section-description{
		text-align: center;
		padding: 1rem;
		@include media-breakpoint-up(md) {
			width: 80%;
			margin: 0 auto;
		}
	}
}

.content-desc{
	@include media-breakpoint-up(md) {
		width: 50%;
		margin: 0 auto;
	}
}

.bg-grey{
	background: $bg-gray;
}

.weight-medium{
	font-weight: 600;
}